# Extraction de texte depuis PDF
PyMuPDF==1.26.0

# Traitement du langage naturel
nltk==3.9.1


#Dev Web
django==5.2.2


#Gestion de tableaux
pandas==2.2.3


#ajouter les modules nécessaires pour le projet
    #gensim
    #scikit-learn
